

@mixin mobile {
    @media screen and (max-width:576px) {
        @content
    }
}
@mixin tablet {
    @media screen and (min-width: 600px) and (max-width:1100px) {
        @content
    }}
    
@mixin bigScreen {
    @media screen and (min-width: 1600px) and (max-width:2400px) {
      @content
  }}
    .techsSectionContainer{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #0e0e0e25;
    display: flex;
    flex-direction: column;
    justify-content: center;
        @include bigScreen{
            height: 80vh;
        }

    .clip {
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
       position: relative;
        background: rgba(20, 0, 66, 0.4);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        
       
        .clipText{
            width: 100%;
            box-sizing: border-box;
            
            
            h1 {
                color: #f1f1f1ff;
                text-align: center;
               
                padding: 5rem  5rem 1rem 5rem;
                font-size: 2rem;
            }
            p{
                text-align: center;
                color: #f1f1f1c0;
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
           
            @include mobile {
                padding: 1rem;
                width: 100%;
            }
        }
        .clipContent {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;
            padding: 2rem 10rem 1rem 10rem;
            @include bigScreen{
                margin: 1rem auto;
            width: 80%;
            
            
            

            }
            @include mobile {
                gap: 20px;
            }
        
        }
        .para{
            color: #f1f1f1be;
            display: block;
            font-size: 1rem;
            line-height: 25px;
            padding: 5rem;
            text-align: center;
            @include mobile {
                
            }
        }

        .floatingTech {
            position: absolute;
            top: 20%;
            right: 5%;
            opacity: .8;
        }
        @include mobile {
            clip-path: none;
            .clipContent {
                width: 100%;
                img {
                    width: 10%;
                }
                .para {
                    padding: 2rem;
                }
            }
        }
        
    }
}