
@mixin mobile {
  @media screen and (max-width:576px) {
      @content
  }
}
@mixin tablet {
  @media screen and (min-width: 600px) and (max-width:1100px) {
      @content
  }}
@mixin bigScreen {
  @media screen and (min-width: 1600px) and (max-width:2400px) {
    @content
}}.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #09002e;  // Adjust the background color as needed
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    flex-direction: column;
    .title {
      color: #f1f1f1;
      text-align: center;
      font-size: 1rem;
      letter-spacing: 6px;
      line-height: 30px;
      text-transform: uppercase;
      font-weight: 300;
      @include mobile {
        padding: .5rem;
        font-size: .9rem;
      }
    }
   
  
  }
  .loader {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 9999;
    margin-bottom: 75px;
  }
  
  .loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 10px #7109b775 inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 #4895EF inset, 0px 0px 30px #7209B7;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }