.heroContainer {
    width: 100%;
    height: 100vh;
    background: url("/dd-2.png");
   
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .heroText {
        padding: 3rem;
        width: 50%;
        .heroTitle {
        
            font-size: 2.5rem;
            color: #f1f1f1;
            span {
                color: #4361EE;
            }
        }
        .heroSubtitle{
            margin-top: 1rem;
            color: #f1f1f1b7;
        }
        button {
            background: #4361EE;
            padding: .7rem 1.5rem;
            color: #f1f1f1;
            font-size: 1.2rem;
            border: none;
            margin-top: 40px;
            border-radius: 15px 0px 15px 0px;
            cursor: pointer;
        }
    }
    .heroLogo {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        padding-right: 5rem;
       
	}
}