@mixin mobile {
    @media screen and (max-width:576px) {
        @content
    }
}
@mixin tablet {
    @media screen and (min-width: 600px) and (max-width:1100px) {
        @content
    }}
@mixin bigScreen {
    @media screen and (min-width: 1600px) and (max-width:2400px) {
      @content
  }}
.main {
    width: 100%;
    background-color: #fff;
    .bannerSec{
        display: flex;
        height: 80vh;
        width: 100%;
        padding-top: 1rem;
        align-items:center;
        justify-content: center;
        background: url("/dd-2.png");
       
        background-repeat: no-repeat;
        background-size: cover;
        @include bigScreen{
            height: 60vh;
        }
        @include mobile {
            height: 100vh;
            flex-direction: column;
    
        }
        .colLeft {
            width: 50%;
            
            color: #f1f1f1;
            box-sizing: border-box;
            padding: 3rem;
            h1{
                margin-bottom: 20px;
                font-size: 2rem;
                span {
                    color: #4361EE;
                }
                @include mobile {
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                margin-top: 1rem;
                }
            }
           
            p{
                margin-bottom: 20px;
                opacity: .8;
                font-size: .9rem;
                line-height: 20px;
            }
            @include mobile {
                width: 100%;
              padding: 1.5rem;
                p:last-child{
                    margin-bottom: 5px;
                }
            }
        }
        .colRight {
            width: 50%;
            text-align: center;
            padding: 2rem;
            @include mobile {
                width: 100%;
                
                padding: 1rem;
                img{
                    width: 50%;
                    height: 90%;
                }
            }
            
        }
    }
}

.text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .textContainer{
        width: 50%;
        padding:  5rem 2rem;
        h1{
            color: #140042;
            margin-bottom: 20px;
            font-size: 2rem;
            @include mobile {
                text-align: center;
                font-size: 1.5rem;
            }
        }
        @include mobile {
            width: 100%;

        }
    }
}
.service {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #140042;;
    @include mobile {
        flex-direction: column;
    }
    .colLeft{
        width: 40%;
        box-sizing: border-box;
        padding: 2rem;
        @include mobile {
            width: 100%;
        }
        h2{
            margin-bottom: 2rem;
            font-size: 2rem;
            
            color: #f1f1f1;
        }
        p{
            color: #f1f1f1d3;
            line-height: 25px;
        }
        button {
            background: #4361EE;
            padding: .7rem 1.5rem;
            color: #f1f1f1;
            font-size: 1.2rem;
            border: none;
            margin-top: 40px;
            border-radius: 15px 0px 15px 0px;
            transition: .2s all ease-in;
            cursor: pointer;
        &:hover {
            background: #7209B7
        }
        }
    }
    .colRight{
        width: 40%;
        box-sizing: border-box;
        padding: 2rem;
        text-align: center;
        @include mobile {
            width: 100%;
            
            img{
                width: 100%;
            }
        }
    }
}

.advantages {
    width: 100%;

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .textContainer{
            width: 50%;
            padding:  5rem 2rem;
            @include mobile {
                width: 100%;

            }
            h1{
                color: #140042;
                margin-bottom: 20px;
                font-size: 2rem;
            }
        }
    }
}
.grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    @include mobile {
        flex-direction: column;
    }
    .card {
        width: 25vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
       
        align-items: center;
        background: rgba(20, 0, 66, 0.9);
        background-image: url("/card.svg");
        background-size: cover;
        background-position: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        padding: 1rem;
        border-radius: 10px;
        .header {
            height: 40%;
            padding: 0;
            width: 100%;
            padding: 30px;
        }
        .text{
            height: 60%;
            width: 100%;
            padding: 0px 10px;
            text-align: start;
          

            p{
                color: #f1f1f1;
                margin-top: 3rem;
                font-weight: 500;
                font-size: 1.1rem;
                @include mobile {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
            button{
                margin-top: 2rem;
                  background: #4361EE;
                  border-radius: 999px;
                  display: flex;
                  
                  align-items: center;
                  box-shadow: #191919 0 10px 20px 0px;
                  box-sizing: border-box;
                  color: #FFFFFF;
                  cursor: pointer;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
                  opacity: 1;
                  outline: 0 solid transparent;
                  padding: 5px 20px;
                  user-select: none;
                  -webkit-user-select: none;
                  touch-action: manipulation;
                  width: fit-content;
                  word-break: break-word;
                  border: 0;
                  gap: 3px;
                  transition:.3s all ease-in-out;
                  span{
                    margin-top: 5px;
                  }
                  &:hover {
                    background-color: #284be9;
                  }
                
            }
        }
        p{
            color: #f1f1f1;
            margin-top: 3rem;
            font-weight: 500;
            @include mobile {
                font-size: 1.2rem;
                text-align: center;
            }
        }
        .description{
            display: block!important;
            position: absolute;
            background: rgba(20, 0, 66, 0.8);
            box-shadow: 0px 2px 5px  rgba(37, 37, 37, 0.37);
            backdrop-filter: blur(5px);
            inset: 0;
            border-radius: 10px;
            padding: 1rem;
            transition: .5s all ease-in-out;
            p{
                line-height: 30px;
                @include mobile {
                    font-size: .9rem;
                }
            }
        }
        .toggledDesc{
            display: block!important;
            position: absolute;
            background: rgba(20, 0, 66, 0.8);
            box-shadow: 0px 2px 5px  rgba(37, 37, 37, 0.37);
            backdrop-filter: blur(5px);
            inset: 0;
            padding: 1rem;
            p{
                line-height: 30px;
            }

              }
        @include mobile {
            width: 100%;
        }
        @include tablet {
            width: 70%;
        }
    }
}