:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.st0{fill:#00CAF9;}
	.st1{fill:#0099B2;}
	.st2{fill:#3CDDF7;}
	.st3{fill:none;}
	.st4{fill:#0A1B9B;}
	.st5{fill:#001BB7;}
	.st6{fill:#001084;}
	.st7{fill:#0029D3;}
	.st8{filter:url(#Adobe_OpacityMaskFilter);}
	.st9{filter:url(#Adobe_OpacityMaskFilter_00000043451818686907428820000000328241580460700821_);}
	.st10{mask:url(#SVGID_1_);fill:url(#SVGID_00000168089618012423579960000007120462100197427375_);}
	.st11{fill:url(#SVGID_00000054955394047532739420000010749089741224778393_);}
	.st12{filter:url(#Adobe_OpacityMaskFilter_00000055669130211647740930000011583667123914583721_);}
	.st13{filter:url(#Adobe_OpacityMaskFilter_00000038402085463634431840000008688845204453309623_);}
	
		.st14{mask:url(#SVGID_00000162340887988319093460000014792971234332295859_);fill:url(#SVGID_00000156558753496626748050000000709447361414180773_);}
	.st15{fill:url(#SVGID_00000111901742142903775560000007693800784716454079_);}
	.st16{filter:url(#Adobe_OpacityMaskFilter_00000047758643003325687640000008631454114479773101_);}
	.st17{filter:url(#Adobe_OpacityMaskFilter_00000075873471318659772200000014313417688640339857_);}
	
		.st18{mask:url(#SVGID_00000178202737001477133830000010308075855730964108_);fill:url(#SVGID_00000027563369247199795560000010169764080304687533_);}
	.st19{fill:url(#SVGID_00000011021789221422198240000009962732901975086002_);}
	.st20{filter:url(#Adobe_OpacityMaskFilter_00000077324551831116731020000002860951986999520429_);}
	.st21{filter:url(#Adobe_OpacityMaskFilter_00000039091729046245517180000002198555401443435397_);}
	
		.st22{mask:url(#SVGID_00000003811881500742349180000005217650787556765616_);fill:url(#SVGID_00000092448190164169968370000000873430879647014316_);}
	.st23{fill:url(#SVGID_00000043437959389367253670000011415232647063812521_);}
	.st24{fill:#222DB2;}
	.st25{filter:url(#Adobe_OpacityMaskFilter_00000167385320465656697070000010074932058599354502_);}
	.st26{filter:url(#Adobe_OpacityMaskFilter_00000058579443350244014570000015711276784112907668_);}
	
		.st27{mask:url(#SVGID_00000011713261190508403790000016506911926480161442_);fill:url(#SVGID_00000066503091371041944350000012379627622708718761_);}
	.st28{fill:url(#SVGID_00000000909356457303761370000007535830573646112907_);}
	.st29{filter:url(#Adobe_OpacityMaskFilter_00000138532858237527417350000009368940331425777298_);}
	.st30{filter:url(#Adobe_OpacityMaskFilter_00000036968596084217333070000015720910825185341090_);}
	
		.st31{mask:url(#SVGID_00000044161961246474603370000003259959402077907640_);fill:url(#SVGID_00000091704768236914011820000017866329643019636615_);}
	.st32{fill:url(#SVGID_00000054256359480353288160000001942507555661237640_);}
	.st33{filter:url(#Adobe_OpacityMaskFilter_00000079464654935043738650000000901364855729270682_);}
	.st34{filter:url(#Adobe_OpacityMaskFilter_00000173880088523834597310000016758159171139180970_);}
	
		.st35{mask:url(#SVGID_00000101804565620837408860000003766843409206638976_);fill:url(#SVGID_00000021097384500873350280000017542575677756501662_);}
	.st36{fill:url(#SVGID_00000134249087864725555200000000698160229794466215_);}
	.st37{filter:url(#Adobe_OpacityMaskFilter_00000078003430643966375350000006052705109154847872_);}
	.st38{filter:url(#Adobe_OpacityMaskFilter_00000078010134475154182770000017362148196188903314_);}
	
		.st39{mask:url(#SVGID_00000165195312787589031340000002983412673245080725_);fill:url(#SVGID_00000003105561872818445600000000123481961829627544_);}
	.st40{fill:url(#SVGID_00000038402599303257638980000000946714788315820981_);}
	.st41{filter:url(#Adobe_OpacityMaskFilter_00000057845897028642823450000001848303630837664143_);}
	.st42{filter:url(#Adobe_OpacityMaskFilter_00000003817868511734011110000000435707221297185214_);}
	
		.st43{mask:url(#SVGID_00000031192378381263165140000010380283701940388499_);fill:url(#SVGID_00000111902936201135086100000008363775623695924614_);}
	.st44{fill:url(#SVGID_00000159467110589207726170000013598987106835433375_);}
	.st45{filter:url(#Adobe_OpacityMaskFilter_00000097497735687552458290000010657992729054917776_);}
	.st46{filter:url(#Adobe_OpacityMaskFilter_00000034809595778500540230000000047639079089154178_);}
	
		.st47{mask:url(#SVGID_00000172442811462672548900000005874660268957428102_);fill:url(#SVGID_00000064350568077200137850000001930697029743398835_);}
	.st48{fill:url(#SVGID_00000159451237818337054590000000741510918066136971_);}
	.st49{filter:url(#Adobe_OpacityMaskFilter_00000013874404738607013900000010354815303956860546_);}
	.st50{filter:url(#Adobe_OpacityMaskFilter_00000156586851068986693940000010536825551695758230_);}
	
		.st51{mask:url(#SVGID_00000085958821592189010750000007173894468187351961_);fill:url(#SVGID_00000114763914902239076280000015182210771725335719_);}
	.st52{fill:url(#SVGID_00000052070623700457464710000017892977502077866627_);}
	.st53{filter:url(#Adobe_OpacityMaskFilter_00000067944728275331668040000016544541953801748109_);}
	.st54{filter:url(#Adobe_OpacityMaskFilter_00000103967067637824630940000013775217595982812048_);}
	
		.st55{mask:url(#SVGID_00000147215338256475138980000002176486509888987325_);fill:url(#SVGID_00000078739009954091476100000005744961070733712309_);}
	.st56{fill:url(#SVGID_00000110430468879046301220000004362915382859650992_);}
	.st57{fill:#052EC4;}
	.st58{fill:#0038EA;}
	.st59{fill:#001EB2;}
	.st60{filter:url(#Adobe_OpacityMaskFilter_00000108293374539268634830000001639491584730079123_);}
	.st61{filter:url(#Adobe_OpacityMaskFilter_00000063613590390282047130000006837729000823012234_);}
	
		.st62{mask:url(#SVGID_00000028298415852850937490000004701533589959474093_);fill:url(#SVGID_00000013161648107377574130000008984584655836450735_);}
	.st63{fill:url(#SVGID_00000148661340986660717560000005838714387196229260_);}
	.st64{filter:url(#Adobe_OpacityMaskFilter_00000041999253194441037940000012589080563233165737_);}
	.st65{filter:url(#Adobe_OpacityMaskFilter_00000005257684128411116680000012499330656280435873_);}
	
		.st66{mask:url(#SVGID_00000050647074931551132690000015653902950684285617_);fill:url(#SVGID_00000071548972255127630400000015852370283265652384_);}
	.st67{fill:url(#SVGID_00000167367000695184004310000002871300107004114304_);}
	.st68{filter:url(#Adobe_OpacityMaskFilter_00000162317783694279431460000009365699655340113798_);}
	.st69{filter:url(#Adobe_OpacityMaskFilter_00000099623570696587557220000008997224899489513128_);}
	
		.st70{mask:url(#SVGID_00000125590312093645477620000011130510994608788896_);fill:url(#SVGID_00000008832400089428404010000014833453206896598145_);}
	.st71{fill:url(#SVGID_00000037651825812167514670000002966276625022501517_);}
	.st72{filter:url(#Adobe_OpacityMaskFilter_00000111158237605214852340000012524940522047780531_);}
	.st73{filter:url(#Adobe_OpacityMaskFilter_00000062189471819740512100000013207227452186728608_);}
	
		.st74{mask:url(#SVGID_00000158005231577344384220000009405169745749842606_);fill:url(#SVGID_00000138533134414618626420000001813051955621339309_);}
	.st75{fill:url(#SVGID_00000050659904854126434260000000047800663195348628_);}
	.st76{fill:#CFE5F7;}
	.st77{fill:#294C99;}
	.st78{fill:#3460A4;}
	.st79{fill:#BAD3EE;}
	.st80{fill:#1B2866;}
	.st81{fill:#33559D;}
	.st82{fill:#4CC9F0;}
	.st83{fill:#4361EE;}
	.st84{fill:#4CC9F0;fill-opacity:0.4;}
	.st85{fill:#9514EA;}
	.st86{fill:#7209B7;fill-opacity:0.37;}
	.st87{fill:#FFFFFF;}
	.st88{fill:#7209B7;}
	.st89{fill:#5876FF;}
	.st90{fill:#737477;}
	.st91{fill:#565759;}
	.st92{fill:#898B8E;}
	.st93{fill:#464547;}
	.st94{clip-path:url(#SVGID_00000110466895663765189670000016293421696190064539_);}
	.st95{fill:#CFD1D2;}
	.st96{fill:#3552D9;}
	.st97{fill:#30B0D8;}
	.st98{fill:#45C2C7;}
	.st99{fill:#8D9092;}
	.st100{fill:#5A82DB;}
	.st101{fill:#00FFFF;}
	.st102{fill:#00B8B8;}
	.st103{fill:#41474C;}
	.st104{clip-path:url(#SVGID_00000101094105488258088470000013734691900969402508_);}

	.techsSectionContainer{
		position: relative;
	}
	.particlesContainer{
        position: absolute;
        width: 100%;
    	height: 100vh;
        top: 0;
        left: 0;
		bottom: 0;
        z-index: -1; /* Ensure particles are behind other content */
      }
	  .swiper {
		width: 80%;
		
		padding-top: 50px;
		padding-bottom: 50px;
	  }
	  
	  .swiper-slide {
		background-position: center;
		background-size: cover;
		width: 300px;
		height: 300px;
		
	  }
	  
	  